/*********************
* Color
*********************/
.bg-color--keycolor {
  background-color: #100a40;
}
.bg-color--subcolor {
  background-color: #b3aa38;
}
.bg-color--gray {
  background-color: #3e0707;
}
